<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row pt-4">
                    <div class="col-sm-1">
                        <button class="btn btn-transparent">Subscribe</button>
                    </div>
                    <div class="col-sm-3"></div>
                    
                    <div class="col-sm-1">
                        <h3>Blog</h3>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1"><button>
                        <i class="fa fa-search"
                            style="font-size: 18px;">
                        </i>
                    </button></div>
                    
                    <div class="col-sm-2">
                        <button class="btn btn-transparent ml-5" style="border:1px solid black">Sign up</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                       <span>Technology</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Design</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Culture</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Buisness</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Politics</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Opinion</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Science</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Health</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Style</span>
                    </div>
                    <div class="col-sm-1">
                        <span>Travel</span>
                    </div>
                </div>
                <br>
                <carousel>
                    <slide>
                      <img src="assets/images/garden.jpeg" width="1500px;" height="300px;">
                      <div class="carousel-caption d-none d-md-block">
                          <h2>Title of a longer featured blog post</h2>
                          <h4>Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents</h4>
                      </div>
                    </slide>
                    <slide>
                      <img src="assets/images/garden.jpeg" width="1500px;" height="300px;">
                      <div class="carousel-caption d-none d-md-block">
                        <h2>Title of a longer featured blog post</h2>
                        <h4>Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents</h4>
                    </div>
                    </slide>
                    <slide>
                      <img src="assets/images/garden.jpeg" width="1500px;" height="300px;">
                    </slide>
                </carousel>
                <br>
               <div class="row">
                   <div class="col-sm-6">
                        <div class="card  m-4 bg-light text-dark card-1 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" style="padding-right:50px">
                            
                            <div class="card-body">
                            <h5 class="card-title">Feature Post</h5>
                            <p class="card-text">Nov 12</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
                            <a href="#" >Continue reading...</a>
                            </div>
                        </div>
                   </div>
                   <div class="col-sm-6">
                    <div class="card m-4 bg-light text-dark card-1 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" style="padding-right:50px">
                        <div class="card-body">
                        <h5 class="card-title">Post title</h5>
                        <p class="card-text">Nov 11</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
                        <a href="#">Continue Reading...</a>
                        </div>
                    </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-8">
                       <h4>From the Firehouse</h4>
                       <hr>
                       <br>
                       <h3>Sample blog post</h3>
                       <small>April 1, 2020 by <a href="#">Oliver</a></small>
                       <p>This blog post shows a few different types of content that are supported and styled with Material styles. Basic typography, images, and code are all supported. You can extend these by modifying Markdown.js.</p>
                       <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                       <span>Curabitur blandit tempus porttitor. <b>Nullam quis risus eget urna mollis</b> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
                       <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p><br>
                       <h4>Heading</h4>
                       <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                       <p>Sub-heading</p>
                       <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                       <ul>
                           <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                           <li>Donec id elit non mi porta gravida at eget metus.</li>
                           <li>Nulla vitae elit libero, a pharetra augue.</li>
                       </ul> 
                       <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                       <ol>
                           <li>Vestibulum id ligula porta felis euismod semper.</li>
                           <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                           <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                       </ol>
                       <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p><br>
                       <h3>Another blog post</h3>
                       <small>March 23, 2020 by <a href="#">Matt</a></small>
                       <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum</p>
                       <p>Curabitur blandit tempus porttitor.<b>Nullam quis risus eget urna mollis</b> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                       <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                       <br><br>
                       <h3>New feature</h3>
                       <small>March 14, 2020 by <a href="#">Tom</a></small>
                       <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                       <ul>
                           <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                           <li>Donec id elit non mi porta gravida at eget metus.</li>
                           <li>Nulla vitae elit libero, a pharetra augue.</li>
                       </ul>
                       <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                       <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                    </div>
                   <div class="col-sm-4">
                       <div class="row">
                           <div class="col-sm-12">
                            <div class="card m-4  text-black card-1" style="width: 18rem; background-color: rgb(154, 158, 156);">
                                <div class="card-body">
                                <h5 class="card-title">About</h5>
                                <p class="card-text">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                                
                                </div>
                            </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-1"></div>
                           <div class="col-sm-11">
                               <a href="#">March 2020</a>
                            </div>
                       </div>
                       <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">February 2020</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">January 2020</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">November 1999</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">October 1999</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">September 1999</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">August 1999</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">July 1999</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">June 1999</a>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <a href="#">May 1999</a>
                         </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <h3>Social</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <i class="fa fa-github" aria-hidden="true" style="color:blue;"></i>
                            <a href="#"> Github</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <i class="fa fa-twitter" aria-hidden="true" style="color:blue;"></i>
                            <a href="#"> Twitter</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <i class="fa fa-facebook" aria-hidden="true" style="color:blue;"></i>
                            <a href="#"> Facebook</a>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        
       
       
    </body>

</html>